  body {
    font-family: Arial;
    font-size: 16px;
    padding: 8px;
    background: linear-gradient(to top,#fbc2eb 0%,#a18cd1 100%);
  }
  .fa{
    margin: 0 7px;
  }
  .main-title{
    border-radius: 3px;
    width: 58%;
    margin: auto;
    padding: 6px;
    color: white;
    font-weight: bolder;
    background: black;
  }
  .main-container{
    max-width: 780px;
    margin: 0 auto;
  }
  .normalFont{
    font-size: 14px;
  }
  .font12px{
      font-size: 12px;
  }
  * {
    box-sizing: border-box;
  }
  .printContainer{
    display: none;
  }
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  .signature{
    display: none;
  }
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  a {
    color: #2196F3;
  }
  
  hr {
    border: 1px solid lightgrey;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  .boldFont{
    font-weight: bold;
  }
  #companyName{
    text-align: center;
    font-weight: 800;
    border: 3px solid black;
    font-size: 16px;
  }
  text-align: center;
    font-weight: 800;
    border: 3px solid black;
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: row;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }
  @media print{
    .viewContainer,#companyLabel{
      display: none;
    }
    body{
      font-size: 14px !important;
    }
    .signature{
      display: block;
    }
    td{
    padding: 0 8px;
     
    }
    .printContainer{
      display: block;
      padding: 10px;
    }
    .col-50{
      padding : 0 0px !important;
    }
    
  }